@import "tailwindcss";

:root {
    /* Base Color Tokens */
    --blue-600: #2563eb;
    --blue-900: #1e3a8a;
    --slate-500: #64748b;
    --slate-100: #f8fafc;

    --accent: #2563eb;
    --bg-main: #f8fafc;
    --text-main: #1e3a8a;
    --nav-bg: rgba(248, 250, 252, 0.8);
    --text-muted: var(--slate-500);
    --ring-color: rgba(37, 99, 235, 0.2);
}

[data-theme='dark'] {
    --accent: #3b82f6;
    --bg-main: #0f172a;
    --text-main: #f1f5f9;
    --nav-bg: rgba(15, 23, 42, 0.8);
    --text-muted: #94a3b8;
    --ring-color: rgba(59, 130, 246, 0.3);
}

[data-theme='nature'] {
    --accent: #10b981;
    --bg-main: #061f1a;
    --text-main: #ecfdf5;
    --nav-bg: rgba(6, 31, 26, 0.8);
    --text-muted: #6ee7b7;
    --ring-color: rgba(16, 185, 129, 0.3);
}

[data-theme='cyber'] {
    --accent: #a855f7;
    --bg-main: #120d2b;
    --text-main: #f5f3ff;
    --nav-bg: rgba(18, 13, 43, 0.8);
    --text-muted: #a78bfa;
    --ring-color: rgba(168, 85, 247, 0.3);
}

* {
    transition: background-color 0.8s cubic-bezier(0.23, 1, 0.32, 1),
    color 0.8s cubic-bezier(0.23, 1, 0.32, 1),
    border-color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
}

.grid-bg {
    background-image:
            linear-gradient(var(--accent) 1px, transparent 1px),
            linear-gradient(90deg, var(--accent) 1px, transparent 1px);
    background-size: 50px 50px;
    opacity: 0.05; /* Dibuat sangat tipis agar elegan */
}